:root {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

// COLORES CARD

.bg-green{
  background: #49d0b0;
}
.bg-red{
  background: #fa6d6b;
}
.bg-blue{
  background: #76befe;
}
.bg-yellow{
  background: #ffd76f;
}
.bg-brown{
  background: #544726c8;
}
.bg-purple{
  background: #9a6fff;
}
.bg-black{
  background: #111;
}
.bg-pink{
  background: #fc6cb4;
}
.bg-gray{
  background: #d3d3d3;
}
.bg-white{
  background: #fff;
}
.bg-all{
  background: #999;
}


///COLOR POR TIPO

.color-unknow{
  background-color: #757575;
}
.color-shadow{
  background-color: #7b62a3;
}
.color-fairy{
  background-color: #fdb9e9;
}
.color-electric{
  background-color: #bba909;
}
.color-dragon{
  background-image: linear-gradient(180deg, #53a4cf 50%, #f16e57 50%)
}
.color-bug{
  background-color: #729f3f;
}
.color-dark{
  background-color: #707070;
}
.color-fighting{
  background-color: #d56723;
}
.color-rock{
  background-color: #a38c21;
}
.color-poison{
  background-color: #7e0058;
}
.color-normal{
  background-color: #a4acaf;
}
.color-ghost{
  background-color: #4d5b64;
}
.color-flying{
  background-color: #3dc7ef;
}
.color-ice{
  background-color: #51c4e7;
}
.color-ground{
  background-color: #ab9842;
}
.color-psychic{
  background-color: #f366b9;
}
.color-water{
  background-color: #4592c4;
}
.color-steel{
  background-color: #9eb7b8;
}
.color-grass{
  background-color: #9bcc50;
}
.color-fire{
  background-color: #ff7402;
}